<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <!-- User Part -->
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Profile</mat-card-title>
            </mat-card-header>
            <img src="assets/images/profile.png" width="100px" />
            <h2>Nadeesha Pathiraja</h2>
            <p>pdnc@gmail.com</p>
        </mat-card>

        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
                <a (click)="drawer.toggle()" routerLink="/">
                     HOME
                </a>
            </mat-list-option>
            <mat-divider></mat-divider>

            <mat-list-option>
                <a (click)="drawer.toggle()" routerLink="/menu">
                    MENU
                </a>
            </mat-list-option>
            <mat-divider></mat-divider>

            <mat-divider></mat-divider>

            <mat-list-option>
                <a (click)="drawer.toggle()" routerLink="/cart">
                    CART
                </a>
            </mat-list-option>
            <mat-divider></mat-divider>

            <mat-list-option>
                <a (click)="drawer.toggle()" routerLink="/pastorders">
                  PAST ORDERS
              </a>
            </mat-list-option>
            <mat-divider></mat-divider>

            <mat-list-option>
                <a (click)="drawer.toggle()" routerLink="/contact">
                    CONTACT US
                </a>
            </mat-list-option>
            <mat-divider></mat-divider>

            <mat-list-option>
                <a (click)="drawer.toggle()" routerLink="/profile">
                  PROFILE
              </a>
            </mat-list-option>
            <mat-divider></mat-divider>

            <mat-list-option>
                <a (click)="drawer.toggle()" routerLink="/">
                   LOGOUT
                </a>
            </mat-list-option>
            <mat-divider></mat-divider>

        </mat-selection-list>

    </mat-drawer>

    <div class="example-sidenav-content">

        <!-- App bar -->
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
            <img class="appbar_logo" src="assets/images/logo.png" routerLink="/">
            <span>Yummy Eats</span>

            <span class="example-spacer"></span>
            <img class="appbar_profile" src="assets/images/profile.png" routerLink="/profile">
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon matBadge="15" matBadgeColor="warn">question_answer</mat-icon>
              <span class="cdk-visually-hidden"></span>
      </button>

        </mat-toolbar>
    </div>
    <router-outlet>

    </router-outlet>
</mat-drawer-container>
