<div class="row full_contact">
    <mat-card>
        <mat-card-title class="contactform_title">PAST ORDER LIST</mat-card-title>

        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
                Order 1
            </mat-list-option>
            <mat-list-option>
                Order 2
            </mat-list-option>
            <mat-list-option>
                Order 3
            </mat-list-option>
            <mat-list-option>
                Order 4
            </mat-list-option>
        </mat-selection-list>

    </mat-card>
</div>
